svg line {
    shape-rendering: crispEdges;
}

svg .recharts-tooltip-cursor {
    shape-rendering: crispEdges;
}

.currency-symbol.prefix {
    margin-right: 5px;
}

.currency-symbol.suffix {
    margin-left: 5px;
}

.stat-card {
    position: relative;
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    top: -100px;
    right: -100px;
    opacity: 0.5;
}
