svg line {
    shape-rendering: crispEdges;
}

svg .recharts-tooltip-cursor {
    shape-rendering: crispEdges;
}

.currency-symbol.prefix {
    margin-right: 5px;
}

.currency-symbol.suffix {
    margin-left: 5px;
}
